body {
    width: 100%;
    height: 100%;
    font-family: 'Oxygen', arial;
    color: #FFF;
    background-color: #FFF;
}

h1 {
    font-family: 'Oxygen', arial;
    margin: 0 0 35px;
    /* text-transform: uppercase; */
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 60px;
    text-shadow: 5px 5px 5px #000000;
}

h2 {
    font-family: 'Oxygen', arial;
    margin: 0 0 35px;
    /* text-transform: uppercase; */
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 40px;
    color:#fff
}

p {
    font-family: 'Oxygen', arial;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.sticky {
    width: 100%;
    opacity: .7;
}

.hero-main {
    background: url('/images/hero-main.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    height:750px;
    text-align: center;
}

.primary {
    margin: 35px 0;
}

.hero-secondary {
    background: url('/images/hero-girl-with-glasses.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    height:800px;
    text-align: center;
}

.hero-third {
    background: url('/images/overhead-piano-coffee.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    height:800px;
    text-align: center;
}

/* TITLES */

.main-title {
    font-family: 'Oxygen', arial;
    margin-top: 200px;
}

.secondary-title {
    font-family: 'Oxygen', arial;
    margin-top: 0;
}

.third-title {
    font-family: 'Oxygen', arial;
    margin-top: 0;
}

/* SECTIONS */

.about-section {
    padding: 0 75px;
    min-height: 500px;
}

.lessons-section {
    padding: 0 75px;
    min-height: 500px;
}

.locations-section {
    padding: 75px 75px;
    min-height: 500px;
}

.contact-section {
    padding: 75px 75px;
    min-height: 500px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* HELPERS */
.center-text {
    text-align: center;
}

/* OVER RIDES */
a {
    color: #FFFFFF;
}

.black {
    color: black;
}

.white {
    color: white;
}

.blue {
    color: #54A0D3;
}

.green {
    color: green;
}

.brown {
    color: brown;
}

.top-bar, .top-bar ul {
    background-color: #000000;
}

.phone {
    font-size: 2em;
}

.ul-plain {
    list-style-type: none;
}

.fa-spaced {
    padding:5px;
}

.sticky-container {
    background-color: #000;
}

.callout-section {
    background-color: black;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    color: #0a0a0a;
    margin: 0 0;
    padding: 35px 35px;
    background: url('/images/section-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
}

table {
    border: 1px solid #9D9A8B;
    border-radius: 0;
    margin-bottom: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
table thead, table tbody, table tfoot {
    background-color: #fefefe;
    border: 1px solid #f1f1f1;
}

table caption {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5rem 0.625rem 0.625rem;
    color: #9D9A8B;
}
table thead, table tfoot {
    background: #f8f8f8 none repeat scroll 0 0;
    color: #0a0a0a;
}
table thead tr, table tfoot tr {
    background: transparent none repeat scroll 0 0;
}
table thead th, table thead td, table tfoot th, table tfoot td {
    font-weight: bold;
    padding: 0.5rem 0.625rem 0.625rem;
    text-align: left;
}
table tbody tr:nth-child(2n) {
    background-color: #f1f1f1;
}
table tbody th, table tbody td {
    padding: 0.5rem 0.625rem 0.625rem;
    color: black;
}

table thead tr th {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.2em;
    background-color: #9D9A8B;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    h1 {
        font-family: 'Oxygen', arial;
        margin: 0 0 35px;
        /* text-transform: uppercase; */
        font-weight: 700;
        letter-spacing: 1px;
        font-size:55px;
        text-shadow: 5px 5px 5px #000000;
    }

    .primary {
        margin: 10px 0;
    }

    .main-title {
        font-family: 'Oxygen', arial;
        margin-top: 25px;
    }

    .hero-main {
        background: url('/images/hero-main.jpeg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
        height:500px;
        text-align: center;
    }


    .hero-secondary {
        background: url('/images/hero-girl-with-glasses.jpeg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: scroll;
        height:250px;
        text-align: center;
    }

    .hero-third {
        background: url('/images/overhead-piano-coffee.jpeg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: scroll;
        height:250px;
        text-align: center;
    }

    .about-section {
        padding: 0 15px;
        min-height: 500px;
    }

    .lessons-section {
        padding: 0 15px;
        min-height: 500px;
    }

    .locations-section {
        padding: 5px 5px;
        min-height: 500px;
    }

    .contact-section {
        padding: 15px 25px;
        min-height: 500px;
    }

    table {
        border: 1px solid #9D9A8B;
        border-radius: 0;
        margin-bottom: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {


}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {


}

/* Large and up */
@media screen and (min-width: 64em) {


}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {


}